<div class="col-md-4">

                         {% for event in upcoming %}
                        <li style="width:15%;" class="media">
                            <div class="media-right">
                                <div class="panel panel-danger text-center date">
                                    <div class="panel-heading month">
                                        <span class="panel-title strong">
                                            {{ event.month }}
                                        </span>
                                    </div>
                                    <div class="panel-body day text-danger">
                                      {{ event.day }}
                                    </div>
                                </div>
                            </div>
                            <div>&nbsp &nbsp &nbsp &nbsp</div>
                            <div class="media-body" style="background-color:{{event.color}};">
                              <h4 class="media-heading">
                     <a href="{% url 'programs:program' pk=event.programid %}"> sdfdsfsd         {{ event.title }}
                             </a>

                                </h4>
                                <p>
                                  {{event.instructions}}
                                </p>
                            </div>

                        </li>   <br/>

                        {% endfor %}

                    </ul>
</div>