

                  {% for program in programs %}

    <div style="background-color:#DAE9C5;" class="col-md-12 col-lg-10 mx-auto mb-3">

  <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
    <div class="card border-top border-bottom-0 border-left border-right border-light">
      <div class="card-header border-bottom border-light" role="tab" id="heading" style="background-color:#DAE9C5;">
        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapse" aria-expanded="true" aria-controls="collapse">
          <h3 style="font-size:2.5em;" class="black-text">
            {{ program.name }}
          </h3>
        </a>
      </div>
<!--      <div id="collapse" class="collapse" role="tabpanel" aria-labelledby="heading" data-parent="#accordionEx">-->
        <div class="card-body">
        <h2 style="font-size:1.3em;font-family: Helvetica, sans-serif;"> {{ program.description }}</h2>
          <br/><br/>

         <p>contact:</p>
          <h3>Ellen Ritz</h3
          ><h5>email: el.ritz@yahoo.com</h5>
        <h5>phone: 1-(516)-330-9778 </h5>
          </p>

        </div>
<!--      </div>-->
    </div>
  </div>
</div>
{% endfor %}

