
{% extends 'base.html'%}
{% load static %}
{% block nav %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<body>
 <div class="jumbotron" style="opacity: 0.8;background-color:Tan;">





         <br/>
     <div class="column">
          <div class="card">

      <div class="container">
        <h2>Welcome</h2>

          <p>Thanks for visiting the official page for NAMI Huntington. Use the links above to find out about courses
            and support groups currently offered</p>


      </div></div>

         <br/><br/>


<h2>Contacts:</h2>

</br>

    <div class="memberbox"> <p class="title">   <h1 class="title">Ellen Ritz</h1>
           <h2>Program Director</h2>

        <p>email: el.ritz@yahoo.com</p>
        <p>phone: 5163309778 </p>

  </div>
      <br/>

      <div class="memberbox"> <h1 class="title">  Jayette Lansbury:</h1>
           <h2>NAMI Huntington President</h2>

        <p>email: jayette@nami-huntington.org</p>
        <p>phone:1-(631)-988-7619</p></div>
          <br/>

      <div class="memberbox"> <h1 class="title">NAMI Huntington</h1>

        <p>P.O. Box 2813
Huntington Station, N.Y. 11746</p>
        <p>info@nami-huntington.org</p></div>
      </div>



{% endblock %}
