
{% extends 'base.html'%}
{% load static %}
{% block nav %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<style>
    .column {
  float: left;
  width: 100%;


}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

</style>
<body>
 <div class="jumbotron" style="opacity: 0.8;background-color:Tan;">








          <div style="outline: red solid 10px;" class="card">

      <div class="container">



  <div class="column">
    <div class="row">
     </div><br/>


           <div class="row">
     <h1>UNDER CONSTRUCTION
  </h1>

</div>



      </div></div>

         <br/><br/>


<h2>Contacts:</h2>

</br>

    <div style="outline: black solid 10px;"  class="memberbox"> <p class="title">   <h1 class="title">Ellen Ritz</h1>
           <h2>Program Coordinator</h2>

        <h4>email: el.ritz@yahoo.com</h4>
        <h4>phone: 1-(516)-330-9778 </h4>

  </div>
      <br/>




{% endblock %}
