{% load static %}

<nav  style="background-color: #F6F5D7;" class="navbar navbar-expand-md fixed-top bg-dark">

    <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"> </span><p style="color:red;">MENU</p>



    </button>
<img width="60%" height="141px" src="{% static 'img/namilogo.jpg' %}"/>

    <div  class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
<!--            <li class="nav-item active">-->

<!--             <a class="nav-link" href="/">-->
<!--                 NAMI-->

<!--                 <a>-->
<!--             </li>-->


             <li style="padding: 20px 40px;" class="nav-item active">
             <a class="nav-link" style="font-size:30px;background-color:LightGray;" href="/events">Calendar</a>
             </li>
             <li style="padding: 20px 40px;" class="nav-item active">
             <a class="nav-link" style="font-size:30px;background-color:LightGray;" href="/support">Support</a>

             </li>
             <li style="padding: 20px 40px;"  class="nav-item active">
             <a class="nav-link" style="font-size:30px;background-color:LightGray;" href="/classes">Classes</a>
             </li>

             <li style="padding: 20px 40px;"  class="nav-item active">
             <a class="nav-link" style="font-size:30px;background-color:LightGray;" href="/contact">Questions/Contact</a>
             </li>


<!--             <li class="nav-item active">-->
<!--             <a class="nav-link" href="/education">Education</a>-->
<!--             </li>-->
<!--            <li class="nav-item active">-->
<!--             <a class="nav-link" href="/advocacy">Advocacy</a>-->
<!--             </li>-->
<!--             <li class="nav-item active">-->
<!--             <a class="nav-link" href="/contacts">Contacts</a>-->
<!--             </li>-->



            </ul>

    </div>
</nav>