
{% load static %}

<nav  style="background-color: #F6F5D7;" class="navbar navbar-expand-md fixed-top bg-dark">

    <button style="width:5px;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"> </span><p style="font-size:1em;color:red;">MENU    </p>



    </button>
<!--<img width="30%" height="141px" src="https://bloximages.chicago2.vip.townnews.com/mtexpress.com/content/tncms/assets/v3/editorial/a/91/a91e0496-c212-11ea-b14a-eb7477c88632/5f076306395d3.image.jpg?resize=400%2C211"/>-->

<!--    <div  class="collapse navbar-collapse" id="navbarsExampleDefault">-->
        <div  class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
<!--            <li class="nav-item active">-->

<!--             <a class="nav-link" href="/">-->
<!--                 NAMI-->

<!--                 <a>-->
<!--             </li>-->
                 <li style="padding: 20px 40px;" class="nav-item active">
             <a class="nav-link" style="font-size:30px;background-color:LightGray;outline: #4CAF50 solid 10px;" href="/">&nbsp<i class="fa fa-home"></i> Home</a><
             </li>

             <li style="padding: 20px 40px;" class="nav-item active">
             <a class="nav-link" style="font-size:30px;background-color:LightGray;outline: #4CAF50 solid 10px;" href="/events">&nbsp<i class="fa fa-calendar"></i> Calendar</a>
             </li>
             <li style="padding: 20px 40px;" class="nav-item active">
             <a class="nav-link" style="font-size:30px;background-color:LightGray;outline: #4CAF50 solid 10px;" href="/support">&nbsp<i class="fa fa-users"></i> Support</a>

             </li>
             <li style="padding: 20px 40px;"  class="nav-item active">
             <a class="nav-link" style="font-size:30px;background-color:LightGray;outline: #4CAF50 solid 10px;" href="/classes">&nbsp<i class="fa fa-graduation-cap"></i> Classes</a>
             </li>
<!--             <li style="padding: 20px 40px;"  class="nav-item active">-->
<!--             <a class="nav-link" style="font-size:30px;background-color:LightGray;outline: #4CAF50 solid 10px;" href="/classes">&nbsp<i class="fa fa-paper-plane"></i>&nbsp Register</a>-->
<!--             </li>-->




            </ul>

    </div>
</nav>