{% extends 'base.html'%}
{% load static %}
{% block nav %}
{% include 'navbar.html' %}
{% endblock %}



{% block content %}
 <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

  <script>
  $(function() {
    $( "#jQuery_accordion" ).accordion();
  });
  </script>

<body >


     <div class="jumbotron" style="opacity: 0.8;background-color:Tan;">

<!--                   <h2 style="color:red; ">{{title}}</h2>-->
<!--        <strong><p style="color:red;">{{subtitle}}</p></strong>-->
  <div class="column">
      <span class="glyphicon glyphicon-list"></span>
    <div style="outline: red solid 10px;" class="card">

      <div class="container">
        <h2 style="font-size:3em;"><b>{{title}}</b></h2>

        <p style="font-size:1.5em;">{{subtitle}}</p>


      </div>
    </div>
      <br/><br/>




</div>
{% include 'greenList.html' %}







{% endblock %}