{% extends 'base.html'%}
{% load static %}
{% block nav %}
{% include 'navbar.html' %}
{% endblock %}



{% block content %}
 <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

  <script>
  $(function() {
    $( "#jQuery_accordion" ).accordion();
  });
  </script>

<body >


     <div class="jumbotron" style="opacity: 0.8;background-color:Tan;">

<!--                   <h2 style="color:red; ">{{title}}</h2>-->
<!--        <strong><p style="color:red;">{{subtitle}}</p></strong>-->
  <div class="column">
      <span class="glyphicon glyphicon-list"></span>
    <div style="outline: red solid 10px;" class="card">

      <div class="container">
        <h2 style="font-size:3em;"><b>{{title}}</b></h2>

        <p style="font-size:1.5em;">{{subtitle}}</p>


      </div>
    </div>
      <br/><br/>




</div>

          <div style="background-color:#DAE9C5;" class="col-md-12 col-lg-10 mx-auto mb-3">

  <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
    <div class="card border-top border-bottom-0 border-left border-right border-light">
      <div class="card-header border-bottom border-light" role="tab" id="heading" style="background-color:#DAE9C5;">
        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapse" aria-expanded="true" aria-controls="collapse">
          <h3 style="font-size:2.5em;" class="black-text">

          </h3>
        </a>
      </div>
<!--      <div id="collapse" class="collapse" role="tabpanel" aria-labelledby="heading" data-parent="#accordionEx">-->
        <div class="card-body">
        <h2 style="font-size:1.3em;font-family: Helvetica, sans-serif;"> </h2>
          <br/><br/>

         {{docx|safe}}
            <a href="/faithnet"><p>click here for flier</p></a>

        </div>
<!--      </div>-->
    </div>
  </div>
</div>

 <div style="background-color:#DAE9C5;" class="col-md-12 col-lg-10 mx-auto mb-3">

  <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
    <div class="card border-top border-bottom-0 border-left border-right border-light">
      <div class="card-header border-bottom border-light" role="tab" id="heading" style="background-color:#DAE9C5;">
        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapse" aria-expanded="true" aria-controls="collapse">
          <h3 style="font-size:2.5em;" class="black-text">
          Business Meeting
          </h3>
        </a>
      </div>
<!--      <div id="collapse" class="collapse" role="tabpanel" aria-labelledby="heading" data-parent="#accordionEx">-->
        <div class="card-body">
        <h2 style="font-size:1.3em;font-family: Helvetica, sans-serif;"> </h2>
          <br/><br/>

         <h5>contact:</h5>
          <h3>Jayette Lansbury</h3>
          <h5>email: jayette@nami-huntington.org</h5>
        <h5>phone: 1-(631)-988-7619</h5>
          </p>

        </div>
<!--      </div>-->
    </div>
  </div>
</div>






{% endblock %}
